@(products: List[models.Product])

<!-- Pass page title and content {html between braces} to the main view -->
@main("Products") {
  <!-- HTML content for the index view -->
  <div class="row">
      <div class="col-sm-2">
        <div class="well">
          <h4>Categories</h4>
        </div>
      </div>
      <div class="col-sm-10">
        <table class="table table-bordered table-hover table-condensed">
          <thead>
          <!-- The header row-->
          <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Description</th>
            <th>Stock</th>
            <th>Price</th>
          </tr>
          </thead>
          <tbody>
            <!-- Product row(s) -->
            
	@for(p <- products) {
	 <tr>
 	 	<td class="numeric">@p.getId</td>
		<td>@p.getName</td>
		<td>@p.getDescription</td>
		<td class="numeric">@p.getStock</td>
		<td class="numeric">&euro; @("%.2f".format(p.getPrice))</td>
	 </tr>
}
          </tbody>
        </table>
      </div>
  </div>
  <!-- End of content for main -->
}
